

/* photo styling */
.photo {
    max-width: 100%;
    width: 60%;
    height: auto;
}

/* text styling */
.hello {
    color: #333A44;
    font-family: 'Cookie', cursive;
    text-align: center;
    font-size: 5vw;
}

.intro {
    color: #333A44;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.3vw;
    line-height: 1.2;
    padding-left: 20%;
    padding-right: 20%;
}

.interests {
    color: #333A44;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2vw;
    line-height: 1.5;
    padding-left: 20%;
    padding-right: 20%;
}

.highlight {
    font-weight: bold;
    color: #00755D;
}

/*.column {
    border-style: solid;
    border-color: pink;
}

.section {
    border-style: solid;
    border-color: magenta;
}

.block {
    border-style: solid;
    border-color: red;
}*/

