

.leftBlock {
    position: absolute;
    align-content: center;
    padding-top: 200px;
    padding-bottom: 100px;
    padding-left: 40px

}

.rightBlock {
    position: absolute;
    align-content: center;
    padding-left: 1200px;
    padding-top: 200px;
    padding-bottom: 50px;
}

/* photo styling */
.photo {
    margin: auto;
    width: 50%;
    padding-top: 810px;
    border-radius:4px;
    max-width:100%;
    height:auto
}

/* page styling */
.white-block {
    background-color: #FFFFFF;
    align-content: center;
    width: 500px;
    height: 450px;
}

.self_intro {
    position: absolute;
    top: 154%;
    left: 70%
}
/* text styling */
.hello {
    color: #333A44;
    font-family: "Hailey Script";
    font-size: 100px;
    position: absolute;
    right: 3.5%

}

.intro {
    color: #333A44;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    padding: 30px 30px;
    display:inline-block;
    width:auto;
}

.interests {
    color: #333A44;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    padding: 0px 30px;
    display:inline-block;
    width:auto;
}


.interestsList {
    color: #333A44;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    padding: 0px 60px;
    display:inline-block;
    width:auto;
}

.aboutBlock {
    background: linear-gradient(to left, #000000 50%, #FFFFFF 50%);
}



