

/* photo styling */
.photo {
    position: absolute;
    top: 120%;
    left: 11%;
}

/* text styling */
.hello {
    color: #333A44;
    text-align: right;
    font-family: "Hailey Script";
    font-size: 100px;
    font-weight: 100000;
    position: absolute;
    top: 120%;
    left: 75%;
    transform: translate(-49%, -49%);

}

.intro {
    color: #333A44;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    position: absolute;
    top: 140%;
    left: 75%;
    transform: translate(-49%, -49%);

}

/* background styling */
.aboutBlock {
    background: linear-gradient(to right, #FEECC3 50%, white 0%);
     width: 100%;
     height: 100%;
     overflow: scroll;
}


