/* Navigation Bar Styling */
.topnav {
  background-color: #FEECC3;
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #333A44;
  text-align: center;
  padding: 12px 15px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #E8CBB1;
}

.topnav a.active {
  color: #7C9CAB;
}

/* Name and Icon Styling */


